.container {
  height: inherit;
  outline: none;
}

.containerSmall {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.wrapperSmall {
  width: 50vw;
  height: 50vh;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
